/* font-family: "adobe-caslon-pro", serif;
font-weight: 600;
font-style: normal;

font-family: "adobe-caslon-pro", serif;
font-weight: 600;
font-style: italic;

font-family: "adobe-caslon-pro", serif;
font-weight: 700;
font-style: italic; */
